:root {
    --bg-color-main: #fff7f7;
    --bg-color-header: #282e7291; /*#f2c6c6, c29895*/
    --nav-bg-blue: #4056ae;
    --nav-bg: #282e7291;
    --nav-color: #fff;
    --header-color: #fff9dd;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, 微軟正黑體;
    font-size: 14px;
    user-select: none;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    padding: 0.2rem 0;
}

button {
    max-width: 100%;
    margin: 0;
    font-family: inherit;
    font-size: .875rem;
    line-height: inherit;
    outline: 0;
    cursor: pointer;
}

input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    /* resize: vertical; */
}


.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

[class*="btn-"] {
    cursor: pointer;
}


/* Phone */
@media (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    }
}

/* Tablet*/
@media (min-width: 768px) {

}

/* Desktop */
@media (min-width: 1024px) {

}