:root {
    --bg-color-main: #fff7f7;
    --bg-color-header: #c29895; /*#f2c6c6*/
    --nav-bg-blue: #4056ae;
    --nav-bg: #c29895;
    --nav-color: #fff;
    --header-color: #fff9dd;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, 微軟正黑體;
    font-size: 14px;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
    padding: 0.2rem 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

/* Phone */
@media (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    }
}

/* Tablet*/
@media (min-width: 768px) {

}

/* Desktop */
@media (min-width: 1024px) {

}